*{
    box-sizing: border-box;
}

.face {
    height: 300px;
    width: 300px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute
}

.structure {

}

.r-arm {

}

.l-arm {

}

.l-leg {

}

.r-leg {

}
