*{
    box-sizing: border-box;
}

body{
    background-color: grey;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container{
    width: 90vw;
    display: flex;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 10px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
}

.panel.active {
    flex: 5;
}

.panel
